In [1]:
import pandas as pd
import numpy as np

In [12]:
turb12_file = "Turbidity_2012.csv"
turb82_file = "Turbidity_1982.csv"
temp12_pd = pd.read_csv(turb12_file)
temp82_pd = pd.read_csv(turb82_file)
temp12_pd.head()

,OrganizationIdentifier,OrganizationFormalName,ActivityIdentifier,ActivityStartDate,ActivityStartTime/Time,ActivityStartTime/TimeZoneCode,MonitoringLocationIdentifier,ResultIdentifier,DataLoggerLine,ResultDetectionConditionText,...,AnalysisEndTime/TimeZoneCode,ResultLaboratoryCommentCode,ResultLaboratoryCommentText,ResultDetectionQuantitationLimitUrl,LaboratoryAccreditationIndicator,LaboratoryAccreditationAuthorityName,TaxonomistAccreditationIndicator,TaxonomistAccreditationAuthorityName,LabSamplePreparationUrl,ProviderName
0,ARS,USDA Agricultural Research Service,MSBL101_20120109,2012-01-09,00:00:00,CST,ARS-MSBL-MSBL101,STEWARDS-1004375,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STEWARDS
1,ARS,USDA Agricultural Research Service,MSBL101_20120123,2012-01-23,00:00:00,CST,ARS-MSBL-MSBL101,STEWARDS-980827,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STEWARDS
2,ARS,USDA Agricultural Research Service,MSBL101_20120206,2012-02-06,00:00:00,CST,ARS-MSBL-MSBL101,STEWARDS-981752,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STEWARDS
3,ARS,USDA Agricultural Research Service,MSBL101_20120221,2012-02-21,00:00:00,CST,ARS-MSBL-MSBL101,STEWARDS-1004457,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STEWARDS
4,ARS,USDA Agricultural Research Service,MSBL101_20120305,2012-03-05,00:00:00,CST,ARS-MSBL-MSBL101,STEWARDS-981682,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STEWARDS

In [13]:
temp_12 = temp12_pd[["MonitoringLocationIdentifier","ActivityStartDate","CharacteristicName","ResultMeasureValue","ResultMeasure/MeasureUnitCode" ]]
temp_82 = temp82_pd[["MonitoringLocationIdentifier","ActivityStartDate","CharacteristicName","ResultMeasureValue","ResultMeasure/MeasureUnitCode" ]]

In [14]:
temp_82.head()

,MonitoringLocationIdentifier,ActivityStartDate,CharacteristicName,ResultMeasureValue,ResultMeasure/MeasureUnitCode
0,USGS-15024800,1982-05-28,Turbidity,23,NTU
1,USGS-15024800,1982-08-31,Turbidity,270,NTU
2,USGS-15024800,1982-10-12,Turbidity,70,NTU
3,USGS-15056100,1982-03-15,Turbidity,0.3,NTU
4,USGS-15056100,1982-05-25,Turbidity,2.7,NTU

In [15]:
cleaned_temp12 = temp_12.dropna(how="any")
cleaned_temp82 = temp_82.dropna(how="any")

In [16]:
num_temp12 = cleaned_temp12
num_temp82 = cleaned_temp82
num_temp82.head()

,MonitoringLocationIdentifier,ActivityStartDate,CharacteristicName,ResultMeasureValue,ResultMeasure/MeasureUnitCode
0,USGS-15024800,1982-05-28,Turbidity,23,NTU
1,USGS-15024800,1982-08-31,Turbidity,270,NTU
2,USGS-15024800,1982-10-12,Turbidity,70,NTU
3,USGS-15056100,1982-03-15,Turbidity,0.3,NTU
4,USGS-15056100,1982-05-25,Turbidity,2.7,NTU

In [17]:
num_temp12["Result"] = pd.to_numeric(cleaned_temp12["ResultMeasureValue"],'coerce')
num_temp82["Result"] = pd.to_numeric(cleaned_temp82["ResultMeasureValue"],'coerce')

C:\Users\phayes\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\phayes\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
grouped_12 = num_temp12.groupby(["MonitoringLocationIdentifier"])
grouped_82 = num_temp82.groupby(["MonitoringLocationIdentifier"])
mean_by_ID = grouped_12["Result"].mean()
mean_by_ID2 = grouped_82["Result"].mean()
mean_pd = pd.DataFrame(mean_by_ID)
mean_pd2 = pd.DataFrame(mean_by_ID2)
mean_pd2.head()

                              Result
MonitoringLocationIdentifier
11NPSWRD_WQX-BISC_CSA_PPB       1.35
11NPSWRD_WQX-BISC_CSA_PPD       1.20
11NPSWRD_WQX-BISC_CSA_PPE       1.30
11NPSWRD_WQX-BISO_NPS_BN-1      1.40
11NPSWRD_WQX-BISO_NPS_BN-3      1.75

In [20]:
cleaned_mean = mean_pd.dropna(how="any")
cleaned_mean2 = mean_pd2.dropna(how="any")

cleaned_mean.to_csv("Mean_by_ID_2012.csv",index=True, header=True)
cleaned_mean2.to_csv("Mean_by_ID_1982.csv",index=True, header=True)